click
Flask
Flask-FlatPages
Frozen-Flask
importlib-metadata
itsdangerous
Jinja2
Markdown
MarkupSafe
pypandoc
PyYAML
six
Werkzeug
zipp
git+https://github.com/oneyb/flask_flatorgpages@main#egg=flask_flatorgpages
